<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991591570835-7tvhtmu73ja8jum0r4q6g11kgcfuco97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991591570835-7tvhtmu73ja8jum0r4q6g11kgcfuco97</string>
	<key>API_KEY</key>
	<string>AIzaSyAi6MZrRUiXLZ2Ix4Fm8-RQ47ob11aBO4E</string>
	<key>GCM_SENDER_ID</key>
	<string>991591570835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-391ea</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-391ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991591570835:ios:5c44c701286c75f3c4dc66</string>
</dict>
</plist>